<?xml version="1.0" encoding="UTF-8"?>   
<configuration>         
    <!-- console -->   
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
       <Encoding>UTF-8</Encoding>   
        <layout class="ch.qos.logback.classic.PatternLayout">   
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{50} - %msg%n   
            </pattern>   
        </layout>   
    </appender>   
    
    <!-- central logging -->   
    <appender name="CENTRALLOGGING" class="com.ctrip.dashboard.common.logging.LoggingAppender">
        <appId>920701</appId>
        <serverIp>collector.logging.sh.ctriptravel.com</serverIp>
        <serverPort>63100</serverPort>
        <Encoding>UTF-8</Encoding>   
        <layout class="ch.qos.logback.classic.PatternLayout">   
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{50} - %msg%n   
            </pattern>   
        </layout>
    </appender>
       
    <!-- daily -->   
    <appender name="FILE"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <Prudent>false</Prudent> 
        <Encoding>UTF-8</Encoding>   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
            <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/queryengine.%d{yyyy-MM-dd_HH}.log</FileNamePattern>  
            <MaxHistory>720</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">   
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{50} - %msg%n   
            </pattern>   
       </layout>   
    </appender>   
    
    <logger name="com.mon4h.dashboard.tools.datascanner"
  		additivity="false">
  		<level value="INFO" />
  		<appender-ref ref="FILE" />
  		<appender-ref ref="STDOUT" />
 	</logger>
    
    <logger name="com.mon4h.dashboard.tools.metascanner"
  		additivity="false">
  		<level value="INFO" />
  		<appender-ref ref="FILE" />
  		<appender-ref ref="STDOUT" />
 	</logger>  
    <root level="INFO">   
        <appender-ref ref="FILE" /> 
    </root>   
</configuration>