<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byDay" datePattern="yyyy-MM-dd_HH:mm"/>
    <!-- Output to Console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %10logger [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="Console"/>
        <!--<appender-ref ref="CentralLogging"/>-->
    </root>

    <!-- logger name="mon4h.xxx.xxx.xxx" level="INFO"/ -->
</configuration>